<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button><mat-icon>menu</mat-icon></button>
  <h1 class="app-name">My Garage</h1>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [opened]="true" [fixedInViewport]="true">
    <mat-nav-list>
      <ng-container *ngFor="let car of cars | async">
        <a mat-list-item href="#">
          <img src="{{car.photo}}" alt="{{car.photo}}" class="photo-thumbnail"> 
              <span [innerHTML]="car.model"></span>  
        </a>  
      </ng-container>    
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <h1>{{currCar?.model}}</h1>
    <p>Year: {{currCar?.year}}</p>
    <img [src]="currCar?.photo" [alt]="currCar?.model">
  </mat-sidenav-content>
</mat-sidenav-container>